name: Stackgen Provision
on:
  workflow_dispatch:

jobs:
  provision:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    env:
      STACKGEN_URL: "https://main.dev.stackgen.com/"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}

      - name: Configure Stackgen
        uses: ./.github/actions/setup-stackgen
        with:
          stackgen-token: ${{ secrets.STACKGEN_TOKEN }}
          stackgen-url: ${{ env.STACKGEN_URL }}

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Get UUID for "simple-iac" appstack
        id: get-uuid
        run: |
          APPSTACK_UUID=$(stackgen list-appstacks | jq -r '.[] | select(.appstack_name == "simple-iac") | .uuid')
          echo "APPSTACK_UUID=$APPSTACK_UUID" >> $GITHUB_ENV

      - name: Run Stackgen provision
        run: stackgen provision --appstack-id ${{ env.APPSTACK_UUID }} --var="region=${{ env.AWS_REGION }}"
